@import '../abstracts/constants';
@import '../base/typography';

%btn {
  width: 3.2rem;
  height: 3.2rem;
  background-color: $color-main-light;
  border: 1px solid $color-tertiarly-light;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

%btn-default{
  border: 1px solid $color-tertiarly-light;
  padding: 6px 12px;
  @include font($weight: 600, $color: $color-main-dark);
}

%btn-primary{
  background: $color-primary;
  padding: 6px 12px;
  @include font($weight: 600, $color:$color-main-light);
}