@import '../../scss/abstracts/constants';
@import '../../scss/abstracts/mixins';

.subtask__wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 33.6rem);
  margin-left: 33.6rem;
  padding-top: 4.8rem;
  padding-bottom: 2.4rem;
}

@include respond(tablet) {
  .subtask__wrapper {
    margin-left: 5.6rem;
    width: calc(100% - 5.6rem);
  }
}

@include respond(small-tablet) {
  .subtask__wrapper {
    margin-left: 0;
    width: 100%;
  }
}