@import './typography';
@import '../abstracts//constants';

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root, .container {
  height: 100%;   
  margin: 0;     
  padding: 0;    
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: "Open Sans", sans-serif;
  padding-top: 6.4rem;
}


.container {
  width: 100%;
  position: relative;
  z-index: 0;
  padding: 0 1.6rem;
}