@import '../abstracts/constants';

.title-1 {
  font-family: "Montserrat", serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.2rem;

}

.title-2 {
  font-family: "Montserrat", serif;
  font-size: 2rem;
  font-weight: 400;
  color: $color-main-dark;
  line-height: 100%; 
}

@mixin font ($size: 14px, $height: 20px, $weight: 400, $style: normal, $color: $color-main-dark) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}