// buttons 
$color-primary: #0078CF;

// badge
$color-badge-border: #99D5FF;
$color-badge-background: #E5F4FF;

// hover
$color-accent: #005999;
$color-required: #B21F00;

//dark
$color-main-dark: #2E3238;
$color-secondary-dark: #ABB1BA;

//light
$color-main-light: #FFFFFF;
$color-secondary-light: #FCFCFD;
$color-tertiarly-light: #D5D8DD;